* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  font-size: 62.5%;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: #83869a;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 111rem;
  margin: 0 auto;
}

.wrapper-white {
  background-color: #fff;
}

.wrapper-gradient {
  background: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
  flex: 1 0 auto;
}

.wrapper-blue {
  background-color: #13183f;
  flex-shrink: 0;
}

.heading {
  color: #13183f;
  font-weight: 800;
}

.main-heading {
  font-size: 5.6rem;
  line-height: 7.056rem;
  margin-bottom: 2.9rem;
}

.medium-heading {
  font-size: 3.2rem;
  line-height: 4rem;
}

.small-heading {
  font-size: 2.4rem;
  line-height: 3rem;
  margin-bottom: 2.4rem;
}

.text {
  color: #83869a;
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.grid {
  display: grid;
}

.grid--3--cols {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  row-gap: 8rem;
}
