/**************************/
/* Below 1275px (Landscape Tablets) */
/**************************/

@media (max-width: 80em) {
  body {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  .wrapper__container {
    max-width: 76.7rem;
    margin: 0 auto;
    padding: 0 3.9rem;
  }

  .get-started-btn {
    padding: 0.9rem 2.4rem 1.1rem;
    font-size: 1.6rem;
  }

  .get-started-btn_hero {
    padding: 1.5rem 3.8rem;
  }

  .header_dark {
    width: 8.9rem;
    height: 3.5rem;
  }

  .header__logo,
  .footer__logo {
    font-size: 2.8rem;
    line-height: 3.5rem;
  }

  .section-hero {
    display: flex;
    gap: 3.33rem;
    margin-top: 5rem;
  }

  .hero-text-box__wrapper {
    max-width: 39.8rem;
  }

  .hero-text-box {
    padding-top: 5rem;
  }

  .hero-text-box__heading {
    font-size: 4rem;
    line-height: 5rem;
    margin-top: 0;
    margin-bottom: 2.5rem;
  }

  .hero-text-box__text {
    margin-bottom: 2.4rem;
  }

  .e-learning-info__small-heading {
    font-size: 1.4rem;
  }

  .e-learning-info__text {
    font-size: 3.2rem;
    line-height: 4rem;
  }

  .e-learning-info_hours {
    padding: 1.6rem 4.5rem 1.6rem 2rem;
    top: 32rem;
    left: -4.5rem;
  }

  .e-learning-info_members {
    padding: 1.6rem 2rem;
    top: -1.4rem;
    right: -5.1rem;
  }

  .hero-image-box {
    flex-basis: 21.65rem;
  }

  .hero-image {
    height: 38.25rem;
    width: 21.65rem;
  }

  .hero-image__vertical {
    width: 21.65rem;
    height: 38.25rem;
    background-image: url(../images/main-image-tablet.png),
      linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  }

  .hero-image__diagonal {
    width: 21.65rem;
    height: 68.86rem;
    bottom: -6.6rem;
    left: 17rem;
  }

  .section-courses {
    margin-top: 13.7rem;
    padding-bottom: 8.6rem;
  }

  .courses {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    row-gap: 5.6rem;
  }

  .courses__heading {
    padding: 5.6rem 3.2rem 13.9rem;
    font-size: 2.4rem;
    line-height: 3.2rem;
  }

  .courses__box {
    padding: 5.6rem 2.2rem 3.2rem 3.2rem;
  }

  .courses__subheading {
    margin-bottom: 1.6rem;
  }

  .courses__link:link,
  .courses__link:visited {
    font-size: 1.8rem;
  }
}
