/**************************/
/* Below 1275px (Tablets) */
/**************************/

@media (max-width: 80em) {
  body {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  .wrapper__container {
    max-width: 76.7rem;
    margin: 0 auto;
    padding: 0 3.9rem;
  }

  .get-started-btn {
    padding: 0.9rem 2.4rem 1.1rem;
    font-size: 1.6rem;
  }

  .get-started-btn_hero {
    padding: 1.5rem 3.8rem;
  }

  .header_dark {
    width: 8.9rem;
    height: 3.5rem;
  }

  .header__logo,
  .footer__logo {
    font-size: 2.8rem;
    line-height: 3.5rem;
  }

  .section-hero {
    display: flex;
    gap: 3.33rem;
    margin-top: 5rem;
  }

  .hero-text-box__wrapper {
    max-width: 39.8rem;
  }

  .hero-text-box {
    padding-top: 5rem;
  }

  .hero-text-box__heading {
    font-size: 4rem;
    line-height: 5rem;
    margin-top: 0;
    margin-bottom: 2.5rem;
  }

  .hero-text-box__text {
    margin-bottom: 2.4rem;
  }

  .hero-image-box {
    flex-basis: 21.65rem;
  }

  .hero-image {
    height: 38.25rem;
    width: 21.65rem;
  }

  .hero-image::before {
    width: 21.65rem;
    height: 38.25rem;
    background-image: url(../images/main-image-tablet.png),
      linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  }

  .hero-image::after {
    width: 21.65rem;
    height: 68.86rem;
    bottom: -6.6rem;
    left: 17rem;
  }

  .e-learning-info_hours {
    padding: 1.6rem 4.5rem 1.6rem 2rem;
    max-width: 15.5rem;
    margin-bottom: -3.77rem;
    margin-left: -4.5rem;
  }

  .e-learning-info_members {
    padding: 1.6rem 2rem;
    max-width: 10.5rem;
    margin-top: -1.4rem;
    margin-left: 16.27rem;
  }

  .e-learning-info__small-heading {
    font-size: 1.4rem;
  }

  .e-learning-info__text {
    font-size: 3.2rem;
    line-height: 4rem;
  }

  .section-courses {
    margin-top: 13.7rem;
    padding-bottom: 8.6rem;
  }

  .courses {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    row-gap: 5.6rem;
  }

  .courses__heading {
    padding: 5.6rem 3.2rem 13.9rem;
    font-size: 2.4rem;
    line-height: 3.2rem;
  }

  .courses__box {
    padding: 5.6rem 2.2rem 3.2rem 3.2rem;
  }

  .courses__subheading {
    margin-bottom: 1.6rem;
  }

  .courses__link:link,
  .courses__link:visited {
    font-size: 1.8rem;
  }

  .no-flexbox-gap .hero-text-box {
    margin-right: 3.33rem;
  }
}

/**************************/
/* Below 765px (Phones) */
/**************************/

@media (max-width: 48em) {
  .wrapper__container {
    max-width: 37.5rem;
    padding: 0 1.6rem;
  }

  .section-hero {
    display: flex;
    flex-direction: column;
    gap: 7rem;
    margin-top: 3.8rem;
    margin-bottom: 9rem;
  }

  .hero-text-box {
    margin: 0 auto;
    padding-top: 0;
  }

  .hero-image-box {
    margin: 0 auto;
  }
  .hero-image {
    display: grid;
    grid-template-columns: repeat(1, 25.3rem);
    grid-template-rows: repeat(1, 1fr);
    height: 25.3rem;
    width: 25.3rem;
  }

  .hero-image::before {
    position: static;
    grid-row: 1/2;
    grid-column: 1/2;
    align-self: center;
    width: 25.3rem;
    height: 25.3rem;
    border-radius: 50%;
    background-image: url(../images/main-image.png),
      linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
    background-size: cover;
    background-position: top 15px left, top left;
    background-repeat: no-repeat;
  }

  .hero-image::after {
    content: none;
  }

  .e-learning-info_hours {
    margin-left: -3.7rem;
    margin-bottom: -2.5rem;
    max-width: 15.5rem;
    grid-row: 1/2;
    grid-column: 1/2;
    align-self: end;
  }

  .e-learning-info_members {
    min-width: 10.5rem;
    margin-left: 18.5rem;
    margin-top: -2.4rem;
    grid-row: 1/2;
    grid-column: 1/2;
    align-self: start;
  }

  .courses {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 4rem;
  }

  .section-courses {
    margin-top: 0;
    padding-bottom: 8rem;
  }

  .courses__heading {
    padding: 2.4rem 2.9rem 3.2rem 2.8rem;
  }

  .no-flexbox-gap .hero-text-box {
    margin-bottom: 7rem;
  }
}
