* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  font-size: 62.5%;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #83869a;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.wrapper_background_white {
  background-color: #fff;
}

.wrapper_background_gradient {
  background: linear-gradient(180deg, #ffffff 0%, #ffffff 0%, #f0f1ff 100%);
}

.wrapper_background_blue {
  background-color: #13183f;
}

.wrapper_expand {
  flex: 1 0 auto;
}

.wrapper__container {
  max-width: 118.8rem;
  margin: 0 auto;
  padding: 0 3.9rem;
}

/**************************/
/* HEADER SECTION */
/**************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.4rem;
}

.header__logo,
.footer__logo {
  font-weight: 800;
  font-size: 3.6rem;
  line-height: 4.5rem;
  text-decoration: none;
}

.header__logo_dark {
  color: #13183f;
}

.get-started-btn {
  display: inline-block;
  padding: 1.4rem 3.1rem;
  border-radius: 2.8rem;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
  text-decoration: none;
  transition: background-color 0.3s;
}

.get-started-btn:link,
.get-started-btn:visited {
  background-color: #13183f;
}

.get-started-btn:active,
.get-started-btn:hover {
  background-color: #666ca3;
}

.get-started-btn_footer:link,
.get-started-btn_footer:visited {
  background: linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.get-started-btn_footer:active,
.get-started-btn_footer:hover {
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
}

.get-started-btn_hero {
  padding: 1.9rem 3.2rem 1.6rem;
  border-radius: 36rem;
  opacity: 1;
  transition: opacity 0.3s;
}

.get-started-btn_hero:link,
.get-started-btn_hero:visited {
  background: linear-gradient(to bottom, #ff6f48, #f02aa6);
}

.get-started-btn_hero:active,
.get-started-btn_hero:hover {
  opacity: 0.5;
}

.get-started-btn_top-layer {
  z-index: 20;
}

/**************************/
/* HERO SECTION */
/**************************/

.section-hero {
  display: flex;
  gap: 28rem;
  margin-top: 8.7rem;
}

.hero-text-box__wrapper {
  max-width: 45.7rem;
}

.hero-text-box {
  padding-top: 9.8rem;
}

.hero-text-box__heading {
  color: #13183f;
  font-weight: 800;
  font-size: 5.6rem;
  line-height: 7.056rem;
  margin-top: 0;
  margin-bottom: 2.9rem;
}

.hero-text-box__text {
  color: #83869a;
  margin-bottom: 4rem;
}

.hero-image-box {
  flex-grow: 0;
  flex-basis: 31.7rem;
}

.hero-image {
  position: relative;
  display: grid;
  grid-template-rows: auto;
  height: 56rem;
  width: 31.7rem;
}

.hero-image::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 31.7rem;
  height: 56rem;
  background-image: url(../images/main-image.png),
    linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  background-position: 90% 100%;
  background-repeat: no-repeat;
  border-radius: 15.85rem;
  z-index: 1;
}

.hero-image::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -9.7rem;
  left: 24.5rem;
  width: 31.7rem;
  height: 100.8rem;
  background: linear-gradient(180deg, #4851ff 0%, #f02aa6 100%);
  border-radius: 15.85rem;
  transform: rotate(45deg);
  z-index: 0;
}

.e-learning-info {
  background-color: #fff;
  box-shadow: 0 25px 50px rgba(6, 22, 141, 0.0442381);
  border-radius: 15px;
}

.e-learning-info_hours {
  padding: 2rem 7.2rem 2rem 2.4rem;
  max-width: 19.9rem;
  z-index: 2;
  align-self: end;
  margin-left: -12rem;
  margin-bottom: 9.8rem;
}

.e-learning-info_members {
  padding: 2rem 5.7rem 2rem 2.4rem;
  max-width: 15.5rem;
  z-index: 2;
  align-self: start;
  margin-left: 28rem;
  margin-top: 10.3rem;
}

.e-learning-info__small-heading {
  color: #83869a;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.8rem;
}

.e-learning-info__text {
  color: #13183f;
  font-weight: 800;
  font-size: 4rem;
  line-height: 5rem;
}

/**************************/
/* COURSES SECTION */
/**************************/

.section-courses {
  margin-top: 25rem;
  padding-bottom: 14rem;
}

.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  row-gap: 8rem;
}

.courses__heading {
  color: #fff;
  background: linear-gradient(to bottom, #ff6f48, #f02aa6);
  padding: 6.4rem 3.2rem 13.8rem;
  border-radius: 15px;
  font-size: 3.2rem;
  line-height: 4rem;
  font-weight: 800;
}

.courses__box {
  border-radius: 15px;
  box-shadow: 0 25px 50px rgba(6, 22, 141, 0.0442381);
  background-color: #fff;
  padding: 6.4rem 3.2rem 4rem;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.courses__box::after {
  content: '';
  display: block;
  border-radius: 50%;
  height: 56px;
  width: 56px;
  position: absolute;
  top: -24px;
  left: 32px;
}

.courses__box_icon_animation::after {
  background-image: url('../images/icon-animation.svg');
}

.courses__box_icon_design::after {
  background-image: url('../images/icon-design.svg');
}

.courses__box_icon_photography::after {
  background-image: url('../images/icon-photography.svg');
}

.courses__box_icon_crypto::after {
  background-image: url('../images/icon-crypto.svg');
}

.courses__box_icon_business::after {
  background-image: url('../images/icon-business.svg');
}

.courses__subheading {
  font-size: 2.4rem;
  line-height: 3rem;
  margin-bottom: 2.4rem;
  color: #13183f;
  font-weight: 800;
}

.courses__text {
  color: #83869a;
  margin-bottom: 2.4rem;
  flex: 1;
}

.courses__link:link,
.courses__link:visited {
  font-size: 1.8rem;
  color: #f74780;
  text-decoration: none;
  transition: all 0.3s;
}

.courses__link:hover,
.courses__link:active {
  color: #ffa7c3;
}

/**************************/
/* FOOTER SECTION */
/**************************/

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.2rem 0;
}

.footer__logo_white {
  color: #fff;
}
